<a href="https://colab.research.google.com/github/armandossrecife/treinamentos/blob/main/Review_Python_Basic_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A linguagem de programação Python

**Características**

*   Interpretada
*   Código legível
*   Mutiparadígma (Programação estrutura, Programação Imperativa, Programação Orientada a Objetos, Programação Funcional)
*   Tipos dinâmicos
*   Blocos baseados em indentação

Criada por [Guido Van Rossum](https://en.wikipedia.org/wiki/Guido_van_Rossum) nos anos 80 e lançada no anos 90.

O **Python 3** foi lançado em 2008. O Python 2.7.18 foi descontinuado em 2020. Com isso, é bom usar os padrões adotados pelo Python 3, pois não existe retrocompatibilidade entre o Python 3 e o Python 2.

A linguagem python é uma das linguagens mais populares (quantidade de buscas na Internet em 2020 - 1o lugar: C (11,83%) , 2o. lugar Python (11,67%), 3o. lugar Java (11,12%) ) do mundo segundo o índice Tiobe (https://www.tiobe.com/tiobe-index/)

Segundo o survey 2021 stackoverflow (https://insights.stackoverflow.com/survey/2021) python ocupa o 3o. lugar (48%), JavaScript 1o lugar (64%) e html/css 2o. lugar (56%)

Bibliotecas, Frameworks e plataformas mais famosas baseadas em python: 

Desenvolvimento web: [Django](https://www.djangoproject.com/), [Flask](https://flask.palletsprojects.com/en/2.0.x/)

Data Science: [Pandas](https://pandas.pydata.org/), [Matplotlib](https://matplotlib.org/)

Machine Learning: [Scikit learn](https://scikit-learn.org/stable/), [PyTorch](https://pytorch.org/)

Deep Learning e Redes Neurais: [TensorFlow](https://www.tensorflow.org/federated), [Keras](https://keras.io/)

Site oficial: https://www.python.org/

Documentação Python: https://docs.python.org/3/

Instale o python no seu sistema operacional https://www.python.org/downloads/

Versão estável: 3.9.x (setembro/2021)

Chamando o interpretador python3 no mac: 
https://asciinema.org/a/439546

Executando um script python via CLI (Command-line Interface): https://asciinema.org/a/439547

Para o desenvolvimento de aplicações mais complexas é aconselhável usar uma IDE (Integrated Development Environment) para facilitar a organização, testes, depuração e empacotamento da aplicação. As mais usadas pela comunidade python: Pycharm (https://www.jetbrains.com/pt-br/pycharm/) e Visual Studio Code (https://code.visualstudio.com/). No caso o VSCode é aconselhável instalar uma [extensão python](https://code.visualstudio.com/docs/languages/python) para ajudar com features como IntelliSense, debugging, code navigation, code formatting e etc.

Também é possível usar notebooks on-line para a execução em forma de interpretação de sequências de scripts python como por exemplo o google colab (https://colab.research.google.com/). Ele é muito usado para quem faz análise de dados (Data Science). Outro exemplo de notebook é o Kaggle (https://www.kaggle.com/) - muito usado pela comunidade de machine learning e data science.

# 1) Saída padrao

In [ ]:
#Output
print('Saída padrão')
print('Armando')

Saída padrão
Armando

In [ ]:
''' 
Algumas convenções importantes:

Class names start with an uppercase letter. All other identifiers start with a lowercase letter.

 Starting an identifier with a single leading underscore indicates that the identifier is private.

 Starting an identifier with two leading underscores indicates a strongly private identifier.

 If the identifier also ends with two trailing underscores, the identifier is a language-defined special name.
 '''

' \nAlgumas convenções importantes:\n\nClass names start with an uppercase letter. All other identifiers start with a lowercase letter.\n\n Starting an identifier with a single leading underscore indicates that the identifier is private.\n\n Starting an identifier with two leading underscores indicates a strongly private identifier.\n\n If the identifier also ends with two trailing underscores, the identifier is a language-defined special name.\n '

# 2) Variaveis e tipos de dados

|Type|Mutability|Description|Syntax examples|
|--- |--- |--- |--- |
|bool|immutable|Boolean value|TrueFalse|
|bytearray|mutable|Sequence of bytes|bytearray(b'Some ASCII')bytearray(b"Some ASCII")bytearray([119, 105, 107, 105])|
|bytes|immutable|Sequence of bytes|b'Some ASCII'b"Some ASCII"bytes([119, 105, 107, 105])|
|complex|immutable|Complex number with real and imaginary parts|3+2.7j3 + 2.7j|
|dict|mutable|Associative array (or dictionary) of key and value pairs; can contain mixed types (keys and values), keys must be a hashable type|{'key1': 1.0, 3: False}{}|
|ellipsisa|immutable|An ellipsis placeholder to be used as an index in NumPy arrays|...Ellipsis|
|float|immutable|Double-precision floating-point number. The precision is machine-dependent but in practice is generally implemented as a 64-bit IEEE 754 number with 53 bits of precision.[99]|1.33333|
|frozenset|immutable|Unordered set, contains no duplicates; can contain mixed types, if hashable|frozenset([4.0, 'string', True])|
|int|immutable|Integer of unlimited magnitude[100]|42|
|list|mutable|List, can contain mixed types|[4.0, 'string', True][]|
|NoneTypea|immutable|An object representing the absence of a value, often called null in other languages|None|
|NotImplementedTypea|immutable|A placeholder that can be returned from overloaded operators to indicate unsupported operand types.|NotImplemented|
|range|immutable|A Sequence of numbers commonly used for looping specific number of times in for loops[101]|range(-1, 10)range(10, -5, -2)|
|set|mutable|Unordered set, contains no duplicates; can contain mixed types, if hashable|{4.0, 'string', True}set()|
|str|immutable|A character string: sequence of Unicode codepoints|
|tuple|immutable|Can contain mixed types|(4.0, 'string', True)('single element',)()|

In [ ]:
nome = 'Armando Soares Sousa'
data_nascimento = '19/02/1979'
altura = 1.68
peso =  70
vacinado_covid_1a_dose = True
vacinado_covid_2a_dose = True

print(f'Nome: {nome}, data de nascimento: {data_nascimento}, altura: {altura}m , peso: {peso}kg')

Nome: Armando Soares Sousa, data de nascimento: 19/02/1979, altura: 1.68m , peso: 70kg

In [ ]:
print(f'nome: {nome}')
teste = f'nome do cliente: {nome}'
print(teste)

nome: Armando Soares Sousa
nome do cliente: Armando Soares Sousa

In [ ]:
print(teste)

nome do cliente: Armando Soares Sousa

In [ ]:
# comando if

idade = 18

if idade >= 18 :
  print('Pode tirar a habilitação para dirigir')
else:
  print('Ainda não pode dirigir')

Pode tirar a habilitação para dirigir

In [ ]:
# Multiplas associações

a = b = c = 10

nome, data_nascimento, altura, peso = 'Maria Silva', '10/10/2000', 1.70, 70 

print(f'a: {a}, b: {b}, c: {c}')

print(f'Nome: {nome}, data de nascimento: {data_nascimento}, altura: {altura}m , peso: {peso}kg')

a: 10, b: 10, c: 10
Nome: Maria Silva, data de nascimento: 10/10/2000, altura: 1.7m , peso: 70kg

In [ ]:
x, y = 10, 20

In [ ]:
# Tipos numéricos

# int	  long (python2)  float	    complex
# 10	  51924361L	      0.0	      3.14j
# 100	  -0x19323L	      15.20	    45.j
# -786	0122L	          -21.9	    9.322e-36j

meu_inteiro_maior = (2 ** 31) - 1
meu_inteiro_menor = -1 * meu_inteiro_maior
print(f'inteiro maior: {meu_inteiro_maior}, type: { type(meu_inteiro_maior) }')
print(f'inteiro menor: {meu_inteiro_menor}, type: { type(meu_inteiro_menor) }')

inteiro maior: 2147483647, type: <class 'int'>
inteiro menor: -2147483647, type: <class 'int'>

In [ ]:
# para armazenar inteiros longos

meu_inteiro_longo = 2**100
print(f'inteiro longo: {meu_inteiro_longo}, { type(meu_inteiro_longo) }')

inteiro longo: 1267650600228229401496703205376, <class 'int'>

In [ ]:
type(meu_inteiro_longo)

int

In [ ]:
# para armazenar floats
meu_float = 1.15
print(f'Float : {meu_float}, { type(meu_float) }')

Float : 1.15, <class 'float'>

In [ ]:
# para armazenar números complexos

meu_numero_complexo = 3.14j
print(f'Numero complexo: {meu_numero_complexo}, type: { type(meu_numero_complexo) }')

Numero complexo: 3.14j, type: <class 'complex'>

In [ ]:
# converte inteiro para float

float(meu_inteiro_maior)

2147483647.0

In [ ]:
# converte longo para float

float(meu_inteiro_longo)

1.2676506002282294e+30

# 3) String

In [ ]:
# Trabalhando com strings

str_texto = 'Armando Soares Sousa'

print(str_texto)          # Prints complete string
print(str_texto[0])       # Prints first character of the string
print(str_texto[2:5])     # Prints characters starting from 3rd to 5th
print(str_texto[2:])      # Prints string starting from 3rd character
print(str_texto * 2)      # Prints string two times
print(str_texto * 3)      # Prints string tree times
print(str_texto + "TEST") # Prints concatenated string

Armando Soares Sousa
A
man
mando Soares Sousa
Armando Soares SousaArmando Soares Sousa
Armando Soares SousaArmando Soares SousaArmando Soares Sousa
Armando Soares SousaTEST

In [ ]:
str_teste = 'Bem vindo'

In [ ]:
len(str_teste)

9

In [ ]:
print(f'Imprime os 3 primeiros caracters da string "{str_teste}": {str_teste[:3]}')
print(f'Imprime do 5o caractere em diante: {str_teste[4:]}')

Imprime os 3 primeiros caracters da string "Bem vindo": Bem
Imprime do 5o caractere em diante: vindo

In [ ]:
meu_nome = str_texto[:7]
print(f'Dada a string "{str_texto}" imprime os 7 primeiros caracters: {meu_nome}')

Dada a string "Armando Soares Sousa" imprime os 7 primeiros caracters: Armando

## String methods

https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

In [ ]:
print(str_texto.upper() )
print(str_texto.lower() )
print(str_texto.capitalize() )
print(str_texto.find("Sousa") )
print(str_texto.index('Sousa'))
print(str_texto.isalpha() )
print(meu_nome.isalpha() )
print(str_texto.endswith("Sousa"))

ARMANDO SOARES SOUSA
armando soares sousa
Armando soares sousa
15
15
False
True
True

In [ ]:
str_python = 'Bem vindo ao python'

In [ ]:
str_python.find('python')

13

In [ ]:
str_python.index('python')

13

## Módulo string

Lista de caracteres ascii: https://en.wikipedia.org/wiki/ASCII#ASCII_control_characters

In [ ]:
# O Módulo string contem métodos e constantes especiais para trabalhar com strings no python
import string

In [ ]:
ascii_letters = string.ascii_letters
print(f'ascii_letters: {ascii_letters}')

ascii_lowercase = string.ascii_lowercase
print(f'ascii_lowercase: {ascii_lowercase}')

ascii_uppercase = string.ascii_uppercase
print(f'ascii_uppercase: {ascii_uppercase}')

digits = string.digits
print(f'digits: {digits}')

ascii_punctuation = string.punctuation
print(f'ascii_punctuation: {ascii_punctuation}')

ascii_letters: abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
ascii_lowercase: abcdefghijklmnopqrstuvwxyz
ascii_uppercase: ABCDEFGHIJKLMNOPQRSTUVWXYZ
digits: 0123456789
ascii_punctuation: !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [ ]:
print(f'Pontuacao ascii: {ascii_punctuation}')

Pontuacao ascii: !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

Lista de caracters unicode: https://en.wikipedia.org/wiki/List_of_Unicode_characters

In [ ]:
for i in range(255):
  print(f'{i}: {chr(i)}')

0:  
1: 
2: 
3: 
4: 
5: 
6: 
7: 
8: 
9:
10:

11:
12:
13:
14: 
15: 
16: 
17: 
18: 
19: 
20: 
21: 
22: 
23: 
24: 
25: 
26: 
27: 
28:
29:
30:
31:
32:
33: !
34: "
35: #
36: $
37: %
38: &
39: '
40: (
41: )
42: *
43: +
44: ,
45: -
46: .
47: /
48: 0
49: 1
50: 2
51: 3
52: 4
53: 5
54: 6
55: 7
56: 8
57: 9
58: :
59: ;
60: <
61: =
62: >
63: ?
64: @
65: A
66: B
67: C
68: D
69: E
70: F
71: G
72: H
73: I
74: J
75: K
76: L
77: M
78: N
79: O
80: P
81: Q
82: R
83: S
84: T
85: U
86: V
87: W
88: X
89: Y
90: Z
91: [
92: \
93: ]
94: ^
95: _
96: `
97: a
98: b
99: c
100: d
101: e
102: f
103: g
104: h
105: i
106: j
107: k
108: l
109: m
110: n
111: o
112: p
113: q
114: r
115: s
116: t
117: u
118: v
119: w
120: x
121: y
122: z
123: {
124: |
125: }
126: ~
127: 
128: 
129: 
130: 
131: 
132: 
133:
134: 
135: 
136: 
137: 
138: 
139: 
140: 
141: 
142: 
143: 
144: 
145: 
146: 
147: 
148: 
149: 
150: 
151: 
152: 
153: 
154: 
155: 
156: 
157: 
158: 
159: 
160:
161: ¡
162: ¢
163: £
164: ¤
165: ¥
166: ¦
167: §
168: ¨
169: ©
170: ª
171: «
172: ¬
173: ­
174: ®
175: ¯
176: °
177: ±
178: ²
179: ³
180: ´
181: µ
182: ¶
183: ·
184: ¸
185: ¹
186: º
187: »
188: ¼
189: ½
190: ¾
191: ¿
192: À
193: Á
194: Â
195: Ã
196: Ä
197: Å
198: Æ
199: Ç
200: È
201: É
202: Ê
203: Ë
204: Ì
205: Í
206: Î
207: Ï
208: Ð
209: Ñ
210: Ò
211: Ó
212: Ô
213: Õ
214: Ö
215: ×
216: Ø
217: Ù
218: Ú
219: Û
220: Ü
221: Ý
222: Þ
223: ß
224: à
225: á
226: â
227: ã
228: ä
229: å
230: æ
231: ç
232: è
233: é
234: ê
235: ë
236: ì
237: í
238: î
239: ï
240: ð
241: ñ
242: ò
243: ó
244: ô
245: õ
246: ö
247: ÷
248: ø
249: ù
250: ú
251: û
252: ü
253: ý
254: þ

# 4) Listas

https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range

In [ ]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print(list)          # Prints complete list
print(list[0])       # Prints first element of the list
print(list[1:3])     # Prints elements starting from 2nd till 3rd 
print(list[2:])      # Prints elements starting from 3rd element
print(tinylist * 2)  # Prints list two times in the same list
print(list + tinylist) # Prints concatenated lists in the same list

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [ ]:
lista_de_frutas = ['uva', 'pera', 'maçã', 'banana']
print(f'Lista de frutas: {lista_de_frutas}')

Lista de frutas: ['uva', 'pera', 'maçã', 'banana']

In [ ]:
print(f'primeiro elemento: {lista_de_frutas[0]}')

primeiro elemento: uva

In [ ]:
lista_de_indices_frutas = [0, 1, 2, 3]
print(f' Lista de indices {lista_de_indices_frutas} da lista de frutas: {lista_de_frutas}')

 Lista de indices [0, 1, 2, 3] da lista de frutas: ['uva', 'pera', 'maçã', 'banana']

In [ ]:
for indice in range (0, len(lista_de_indices_frutas) ):
    print(f'{lista_de_indices_frutas[indice]}, {lista_de_frutas[indice]}')

0, uva
1, pera
2, maçã
3, banana

In [ ]:
lista_de_nomes = ['Antonio', 'Maria', 'João', 'Francisco']
lista_de_indices = [0, 1, 2, 3]
print(lista_de_nomes)
print(lista_de_indices)

['Antonio', 'Maria', 'João', 'Francisco']
[0, 1, 2, 3]

In [ ]:
lista_de_nomes[2]
print(f'do segundo elemento até o quarto elemento: {lista_de_nomes[1:4]}')

do segundo elemento até o quarto elemento: ['Maria', 'João', 'Francisco']

## 4.1) Adicionando um elemento na lista

In [ ]:
# operações com listas
# https://docs.python.org/3/tutorial/datastructures.html
# adiciona um elemento na lista
lista_de_nomes.append('Matheus')

In [ ]:
print(lista_de_nomes)

['Antonio', 'Maria', 'João', 'Francisco', 'Matheus']

In [ ]:
lista_de_nomes.append('Maria')
print(lista_de_nomes)

['Antonio', 'Maria', 'João', 'Francisco', 'Matheus', 'Maria']

In [ ]:
lista_de_nomes.count('Maria')

2

## 4.2) Remove elemento da lista

In [ ]:
# Remove o último elemento da lista

print(lista_de_nomes.pop() )

Maria

In [ ]:
print(lista_de_nomes)

['Antonio', 'Maria', 'João', 'Francisco', 'Matheus']

In [ ]:
# Remove um dado elemento da lista, caso não exista lança uma exception ValueError
print(lista_de_nomes.remove('Maria') )

None

In [ ]:
print(lista_de_nomes)

['Antonio', 'João', 'Francisco', 'Matheus']

In [ ]:
# caso o elemento nao exista na lista, lanca uma excecao
print(lista_de_nomes.remove('Gisele') )

ValueError: ignored

In [ ]:
try: 
  elemento = 'Gisele'
  print(lista_de_nomes.remove(elemento) )
except Exception as e:
  print(f'Elemento nao existe - {e}')

In [ ]:
# Limpa uma lista

lista_de_nomes.clear()

In [ ]:
print(lista_de_nomes)

In [ ]:
lista_de_nomes = ['Antonio', 'Maria', 'João', 'Francisco']

## 4.3) Built in function para Listas

In [ ]:
# Quantas vezes um elemento aparece na lista

lista_de_nomes.append('Antonio')

qtd_antonio_lista = lista_de_nomes.count("Antonio")

print(f'Quantidade de vezes {qtd_antonio_lista} que aparece o nome Antonio na lista lista_de_nomes')

Quantidade de vezes 2 que aparece o nome Antonio na lista lista_de_nomes

In [ ]:
#ordenando uma lista por ordem alfabética

lista_de_nomes.sort()

In [ ]:
print(lista_de_nomes)

['Antonio', 'Antonio', 'Francisco', 'João', 'Matheus']

In [ ]:
lista_de_nomes.reverse()
print(lista_de_nomes)

['Matheus', 'João', 'Francisco', 'Antonio', 'Antonio']

## 4.4) Criando novos elementos e inserindo na lista

In [ ]:
# Forma normal

quadrados = []
for item in range(10):
    quadrados.append(item*item)
print(quadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# List comprehension

[item**2 for item in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# 5) Tuplas

In [ ]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print(tuple)               # Prints the complete tuple
print(tuple[0])            # Prints first element of the tuple
print(tuple[1:3])          # Prints elements of the tuple starting from 2nd till 3rd 
print(tuple[2:])           # Prints elements of the tuple starting from 3rd element
print(tinytuple * 2)       # Prints the contents of the tuple twice
print(tuple + tinytuple)   # Prints concatenated tuples

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [ ]:
# Extração dos elementos de uma tupla e atribuição em variáveis
a,b,c = ('Armando', 'Soares', 'Sousa')
print(f'a: {a}, b: {b}, c: {c}')

a: Armando, b: Soares, c: Sousa

In [ ]:
dados_do_terreno = (10, 40)
largura, comprimento = dados_do_terreno

In [ ]:
print(f'A largura do terreno é: {largura}m e o comprimento é: {comprimento}m. A área total do terrento é {largura * comprimento}m2')

A largura do terreno é: 10m e o comprimento é: 40m. A área total do terrento é 400m2

In [ ]:
print(f'Lista de nomes: {lista_de_nomes}')

Lista de nomes: ['Matheus', 'João', 'Francisco', 'Antonio', 'Antonio']

# 6) Conjuntos (Set) elementos que são únicos no conjunto

In [ ]:
# set - conjunto com elementos únicos

print(f'lista_de_nomes: {lista_de_nomes}')

conjunto_lista_de_nomes = set(lista_de_nomes)
print(f'conjunto_lista_de_nomes: {conjunto_lista_de_nomes}')

lista_de_nomes: ['Matheus', 'João', 'Francisco', 'Antonio', 'Antonio']
conjunto_lista_de_nomes: {'Francisco', 'Matheus', 'João', 'Antonio'}

# 7) Dicionarios

https://docs.python.org/3/library/stdtypes.html#mapping-types-dict

{chave1: valor1, chave2:valo2, ..., chaven:valorN}

## Operações gerais

In [ ]:
# Dicionários

dict = {}
print(f'dict: {dict}')                  # prints complete dictionary

dict['one'] = "This is the content of key 'one'"
dict[2]     = "This is the content of key 2"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}

agenda = {}
agenda = {1: 'Armando', 2: 'João', 3: 'Maria'}

print(f"dict['one']: {dict['one']} ")       # Prints value for 'one' key
print(f'dict[2]: {dict[2]}')           # Prints value for 2 key
print(f'dict: {dict}')                  # prints complete dictionary
print('')
print(f'tinydict: {tinydict}')          # Prints complete dictionary
print(f'tinydict.keys(): {tinydict.keys()}')   # Prints all the keys
print(f'tinydict.values(): {tinydict.values()}') # Prints all the values
print(f'tinydict.items(): {tinydict.items()}')
print('')
print(f'agenda.keys(): {agenda.keys()}' )
print(f'agenda.values(): {agenda.values()}' )
print(f'agenda.items(): {agenda.items()}' )

dict: {}
dict['one']: This is the content of key 'one'
dict[2]: This is the content of key 2
dict: {'one': "This is the content of key 'one'", 2: 'This is the content of key 2'}

tinydict: {'name': 'john', 'code': 6734, 'dept': 'sales'}
tinydict.keys(): dict_keys(['name', 'code', 'dept'])
tinydict.values(): dict_values(['john', 6734, 'sales'])
tinydict.items(): dict_items([('name', 'john'), ('code', 6734), ('dept', 'sales')])

agenda.keys(): dict_keys([1, 2, 3])
agenda.values(): dict_values(['Armando', 'João', 'Maria'])
agenda.items(): dict_items([(1, 'Armando'), (2, 'João'), (3, 'Maria')])

## Iterando em um dicionarário

In [ ]:
# Iterando em um dicionário
for key, value in dict.items():
  print(f'key: {key}, value: {value}')

key: one, value: This is the content of key 'one'
key: 2, value: This is the content of key 2

In [ ]:
for k, v in dict.items():
    print(f'Chave: {k}, Valor: {v}')

Chave: one, Valor: This is the content of key 'one'
Chave: 2, Valor: This is the content of key 2

In [ ]:
for key, value in tinydict.items(): 
    print(f'key: {key}, value: {value}')

key: name, value: john
key: code, value: 6734
key: dept, value: sales

In [ ]:
for k, v in agenda.items():
    print(f'key: {k}, value: {v}')

key: 1, value: Armando
key: 2, value: João
key: 3, value: Maria

## Adicinando um elemento em um dicionário

In [ ]:
# Adicionando um elemento ao dicionário
agenda[4] = 'Francisco'

for key, value in agenda.items():
  print(key, value)

1 Armando
2 João
3 Maria
4 Francisco

## Mapeando elementos de listas diferentes

In [ ]:
questions = ['name', 'quest', 'favorite color'] 
answers = ['lancelot', 'the holy grail', 'blue']

for item in range(3):
    print(f'Questao: {questions[item]} -> resposta: {answers[item]}')

Questao: name -> resposta: lancelot
Questao: quest -> resposta: the holy grail
Questao: favorite color -> resposta: blue

In [ ]:
# To loop over two or more sequences at the same time, the entries can be paired with the zip() function.
print('Questions and answers') 
for q, a in zip(questions, answers):
    print(f'What is your {q}?  It is {a}.')

Questions and answers
What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

## Criando um dicoionário a partir de listas mapeadas

In [ ]:
dict_questions_answers = {}

for q, a in zip(questions, answers): 
  dict_questions_answers[q] = a

print(dict_questions_answers.keys() )
print(dict_questions_answers.values() )

dict_keys(['name', 'quest', 'favorite color'])
dict_values(['lancelot', 'the holy grail', 'blue'])

In [ ]:
print(dict_questions_answers)

{'name': 'lancelot', 'quest': 'the holy grail', 'favorite color': 'blue'}

## Um dicionário de clientes

Meus clientes:

chave -> valor
cpf -> (nome, lista_de_telefones)

chave = cpf
valor = (nome, lista_de_telefones)

In [ ]:
meus_clientes = {}

meus_clientes['79846149387'] = ('Armando', ['32122345', '994693558'])

In [ ]:
print(f'meus_clientes: {meus_clientes}')

meus_clientes: {'79846149387': ('Armando', ['32122345', '994693558'])}

In [ ]:
for k, v in meus_clientes.items():
    print(f'chave: {k}, valor: {v}')

chave: 79846149387, valor: ('Armando', ['32122345', '994693558'])

In [ ]:
tupla_teste = ('Armando', ['32122345', '994693558'])
print(f'1o. elemento da tupla: {tupla_teste[0]}')
print(f'2o. elemento da tupla: {tupla_teste[1]}')

1o. elemento da tupla: Armando
2o. elemento da tupla: ['32122345', '994693558']

In [ ]:
cpf = '79846149387'
nome = meus_clientes[cpf][0]
lista_de_telefones = meus_clientes[cpf][1]

print(f'nome: {nome}, lista de telefones: {lista_de_telefones}')

nome: Armando, lista de telefones: ['32122345', '994693558']

# 8) Operacoes aritmeticas

https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex

In [ ]:
# Operações aritiméticas simples

a = 21
b = 10
c = 0

print(f'a = {a}')
print(f'b = {b}')
print('')

c = a + b
print(f"a + b = {c}")

c = a - b
print(f"a - b = {c}")

c = a * b
print(f"a * b = {c}")

c = a / b
print(f"a / b =  {c}")

c = a % b
print(f"a módulo b = {c}")

a = 2
b = 3
c = a**b 
print(f"a**b= {c}")

a = 10
b = 5
c = a//b 
print(f"a//b = {c}")

a = 21
b = 10

a + b = 31
a - b = 11
a * b = 210
a / b =  2.1
a módulo b = 1
a**b= 8
a//b = 2

# 9) Operacoes de comparacao

In [ ]:
# Operações de comparação

a = 21
b = 10
c = 0

if ( a == b ):
   print("Line 1 - a is equal to b")
else:
   print("Line 1 - a is not equal to b")

if ( a != b ):
   print("Line 2 - a is not equal to b")
else:
   print("Line 2 - a is equal to b")

if ( a < b ):
   print("Line 4 - a is less than b")
else:
   print("Line 4 - a is not less than b")

if ( a > b ):
   print("Line 5 - a is greater than b")
else:
   print("Line 5 - a is not greater than b")

a = 5
b = 20
if ( a <= b ):
   print("Line 6 - a is either less than or equal to  b")
else:
   print("Line 6 - a is neither less than nor equal to  b")

if ( b >= a ):
   print("Line 7 - b is either greater than  or equal to b")
else:
   print("Line 7 - b is neither greater than  nor equal to b")

Line 1 - a is not equal to b
Line 2 - a is not equal to b
Line 4 - a is not less than b
Line 5 - a is greater than b
Line 6 - a is either less than or equal to  b
Line 7 - b is either greater than  or equal to b

# 10) Operacoes de checagem de membros

In [ ]:
print(lista_de_nomes)
'Francisco' in lista_de_nomes

['Matheus', 'João', 'Francisco', 'Antonio', 'Antonio']

True

In [ ]:
# Operadores de membership

a = 10
b = 20
list = [1, 2, 3, 4, 5 ];

if ( a in list ):
   print("Line 1 - a is available in the given list")
else:
   print("Line 1 - a is not available in the given list")

if ( b not in list ):
   print("Line 2 - b is not available in the given list")
else:
   print("Line 2 - b is available in the given list")

a = 2
if ( a in list ):
   print("Line 3 - a is available in the given list")
else:
   print("Line 3 - a is not available in the given list")

Line 1 - a is not available in the given list
Line 2 - b is not available in the given list
Line 3 - a is available in the given list

# 11) Loops

https://docs.python.org/3/tutorial/controlflow.html#for-statements

## 11.1) For

In [ ]:
# interacao usando o range
for i in range(10):
  print(f'i: {i}')

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9

In [ ]:
for i in range(4,10):
    print(f'i: {i}')

i: 4
i: 5
i: 6
i: 7
i: 8
i: 9

In [ ]:
for i in [2, 4, 6, 8, 10, 13, 15]: 
    print(f'i: {i}')

i: 2
i: 4
i: 6
i: 8
i: 10
i: 13
i: 15

In [ ]:
[i*3 for i in range(10)]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

### 11.1.1) For each

In [ ]:
# For each

fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        
   print('Current fruit :', fruit)

Current fruit : banana
Current fruit : apple
Current fruit : mango

In [ ]:
for nome in lista_de_nomes: 
    print(f'nome: {nome}')

nome: Matheus
nome: João
nome: Francisco
nome: Antonio
nome: Antonio

### 11.1.2) For aninhado

In [ ]:
for num in range(10,20):     #to iterate between 10 to 20
  for i in range(2,num):    #to iterate on the factors of the number
    if num % i == 0:         #to determine the first factor
      j = num / i             #to calculate the second factor
      print(f'{num} equals {i} * {j}')
      break #to move to the next number, the #first FOR
    else:                  # else part of the loop
      print(f'{num} is a prime number')
      break

10 equals 2 * 5.0
11 is a prime number
12 equals 2 * 6.0
13 is a prime number
14 equals 2 * 7.0
15 is a prime number
16 equals 2 * 8.0
17 is a prime number
18 equals 2 * 9.0
19 is a prime number

## 11.2) While

In [ ]:
#While

count = 0
while (count < 10):
   print(f'The count is: {count}')
   count = count + 1

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
The count is: 9

# 12) Bibliocteca Random

https://docs.python.org/3/library/random.html

## Gerando números aleatórios

In [ ]:
# Random

import random

# First random number
print(f"random() : { random.random() }")

# Second random number
print(f"random() : {random.random() }")

random() : 0.7754591657645635
random() : 0.19666772774949848

## Gerando números aleatórios inteiros dentro de um intervalo

In [ ]:
# Therd random number
print(f"random() : { random.randint(1,100) }")

random() : 61

## "Embaralhando" elementos de uma lista

In [ ]:
list = [20, 16, 10, 5];
random.shuffle(list)
print(f"Reshuffled list : {list}")

random.shuffle(list)
print(f"Reshuffled list : {list}")

Reshuffled list : [5, 10, 20, 16]
Reshuffled list : [20, 10, 5, 16]

## Gerando uma lista de números aleatórios não repetidos

In [ ]:
#Gere 100 numeros inteiros aleatorios (entre 0 e 1000) nao repetidos 

# 1. Crie um lista para armazenar os numeros gerados
# 2. Gera um numero aleatorio entre 0 e 1000
# 3. Checa se o numero gerado já existe na lista
#       se não existe insere na lista
# Repita os passos anteriores 100 vezes
# 4. Mostra a lista gerada

In [ ]:
lista_de_numeros_aleatorios = []

for i in range(100): 
    numero_randomico = random.randint(0, 1000)
    if numero_randomico not in lista_de_numeros_aleatorios:
        lista_de_numeros_aleatorios.append(numero_randomico)

print(f'lista de numeros aleatorios: {lista_de_numeros_aleatorios}')

lista de numeros aleatorios: [660, 157, 231, 663, 445, 399, 560, 202, 860, 151, 620, 382, 955, 237, 913, 628, 209, 368, 496, 582, 500, 921, 928, 760, 865, 809, 726, 92, 872, 408, 216, 163, 729, 122, 5, 629, 56, 278, 569, 98, 973, 49, 979, 125, 598, 704, 882, 796, 623, 165, 634, 715, 64, 50, 353, 37, 939, 899, 416, 191, 930, 208, 426, 364, 427, 291, 626, 777, 545, 756, 355, 610, 321, 189, 294, 111, 501, 459, 227, 743, 85, 806, 406, 241, 326, 952, 260, 579, 357, 992, 155, 900, 647, 78]

# 13) Input

https://docs.python.org/3/library/functions.html#input

## Entrada de dados do tipo string

In [ ]:
opcao = input('Digite sua opcao: y/n: ')

if opcao.upper() == 'Y':
    print('Você escolheu a opcao y')
else:
    if opcao.upper() == 'N':
        print('Você escolheu a opcao n')
    else: 
        print('Opcao invalida!')

Digite sua opcao: y/n: y
Você escolheu a opcao y

## Entrada de dados do tipo inteiro

In [ ]:
valor = input('Digite um número inteiro')
try:
    n = int(valor)
    print(f'O número {n} é válido!')
except Exception as e:
    print(f'Valor inválido! - {e}')

Digite um número inteiro10
O número 10 é válido!

## Entrada de dados do tipo float

In [ ]:
valor = input('Digite um número qualquer')

try: 
    n = float(valor)
    print(f'O número {n} é válido!')
except Exception as e: 
    print(f'Número inválido! {e}')

Digite um número qualquer10
O número 10.0 é válido!

In [ ]:
para_str = """this is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print(para_str)

this is a long string that is made up of
several lines and non-printable characters such as
TAB ( 	 ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [
 ], or just a NEWLINE within
the variable assignment will also show up.

# 14) Manipulando tempo e data

https://docs.python.org/3/library/time.html

## Módulo time

In [ ]:
import time;  # This is required to include time module.

ticks = time.time()
print(f"Number of ticks since 12:00am, January 1, 1970: {ticks}")

Number of ticks since 12:00am, January 1, 1970: 1646251111.4069092

In [ ]:
localtime = time.localtime(time.time())
print(f"Local current time : {localtime}")

Local current time : time.struct_time(tm_year=2022, tm_mon=3, tm_mday=2, tm_hour=19, tm_min=58, tm_sec=31, tm_wday=2, tm_yday=61, tm_isdst=0)

## Módulo datetime

https://docs.python.org/3/library/datetime.html

## O método now()

In [ ]:
import datetime
agora = datetime.datetime.now()

print(f'Data e hora atual: {agora}')

Data e hora atual: 2022-03-02 19:58:31.435074

In [ ]:
print(f'Ano atual: {agora.year}')

Ano atual: 2022

## A classe date

In [ ]:
agora1 = datetime.datetime.now()
for i in range(10):
    print(i)
agora2 = datetime.datetime.now()
delta_time = agora2 - agora1
print(f'delta: {delta_time}')

0
1
2
3
4
5
6
7
8
9
delta: 0:00:00.006841

In [ ]:
from datetime import date

data_atual = date.today()

print(f'Data atual: {data_atual}')

Data atual: 2022-03-02

## Formatando a data com o strftime

In [ ]:
print(f'Data e Hora formatada: { agora.strftime("%Y-%m-%d %H:%M:%S") }')
print(f'Data e Hora formatada: { agora.strftime("%d/%m/%Y %H:%M:%S") }')

Data e Hora formatada: 2022-03-02 19:58:31
Data e Hora formatada: 02/03/2022 19:58:31

In [ ]:
data_atual_formatada = data_atual.strftime('%d/%m/%Y')
print(f'Data atual formatada: {data_atual_formatada}')

Data atual formatada: 02/03/2022

## Convertendo uma string em datetime

In [ ]:
from datetime import datetime

data_e_hora_em_texto = '01/03/2018 12:30'
data_e_hora = datetime.strptime(data_e_hora_em_texto, '%d/%m/%Y %H:%M')
print(type(data_e_hora))

<class 'datetime.datetime'>

## Módulo calendar

https://docs.python.org/3/library/calendar.html

In [ ]:
import calendar

cal = calendar.month(2021, 10)
print(f"Here is the calendar: {cal}")

Here is the calendar:     October 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [ ]:
cal_html = calendar.HTMLCalendar()

print( cal_html.formatmonth(2021, 10) )

<table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">October 2021</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="fri">1</td><td class="sat">2</td><td class="sun">3</td></tr>
<tr><td class="mon">4</td><td class="tue">5</td><td class="wed">6</td><td class="thu">7</td><td class="fri">8</td><td class="sat">9</td><td class="sun">10</td></tr>
<tr><td class="mon">11</td><td class="tue">12</td><td class="wed">13</td><td class="thu">14</td><td class="fri">15</td><td class="sat">16</td><td class="sun">17</td></tr>
<tr><td class="mon">18</td><td class="tue">19</td><td class="wed">20</td><td class="thu">21</td><td class="fri">22</td><td class="sat">23</td><td class="sun">24</td></tr>
<tr><td class="mon">25</td><td class="tue">26</td><td class="wed">27</td><td class="thu">28</td><td class="fri">29</td><td class="sat">30</td><td class="sun">31</td></tr>
</table>

# 15) Funcoes

https://docs.python.org/3/tutorial/controlflow.html#defining-functions

## Definição simples de funções

In [ ]:
# funcoes

def soma(a, b):
  return a+b

def multiplica(a,b):
  return a*b

def subtrai(a,b):
  return a-b

In [ ]:
v1 = soma(10,11)
v2 = multiplica(10,11)
v3 = subtrai(10,11)

print(f'v1: {v1}, v2: {v2}, v3: {v3}')

v1: 21, v2: 110, v3: -1

## Definição de função com parâmetros variáveis

In [ ]:
# quantidade variavel de argumentos
# Function definition is here
def printinfo( arg1, *vartuple ):
   "This prints a variable passed arguments"
   print("Output is: ")
   print(arg1)
   for var in vartuple:
      print(var)
   return;

In [ ]:
printinfo(5)

Output is:
5

In [ ]:
printinfo(5,4,3)

Output is:
5
4
3

In [ ]:
printinfo(3,4,5,6)

Output is:
3
4
5
6

## Função lambda

https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions

In [ ]:
# Funções anônimas

# Function definition is here
sum = lambda x, y: x+y;
sum3 = lambda x,y,z : x+y+z
prod4 = lambda x,y,z,w : x*y*z*w

In [ ]:
def produto(x, y, z, w): 
    return x*y*z*w

In [ ]:
testeproduto = lambda x,y,z,w : produto(x,y,z,w)

In [ ]:
print(f'Teste produto 1,2,3,4: {testeproduto(1,2,3,4)}')

Teste produto 1,2,3,4: 24

In [ ]:
# Now you can call sum as a function
print(f"Value of total : { sum( 10, 20 ) }")
print(f"Value of total : { sum3( 10, 20, 30 ) }")
print(f'Valor do produto : { prod4(10, 20, 30, 40)}')

Value of total : 30
Value of total : 60
Valor do produto : 240000

# 16) Modulo Requests

## Requests and Response

https://docs.python-requests.org/en/latest/

## Instalando um módulo via notebook jupter

Pip (package manager) https://en.wikipedia.org/wiki/Pip_(package_manager)

In [ ]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)

## Acessando o conteúdo de uma página web

In [ ]:
import requests

url_google = 'https://www.google.com'
site_google = requests.get(url_google)

print(f'url_google: {url_google} ')
print(site_google.text)

url_google: https://www.google.com
<!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="en"><head><meta content="Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for." name="description"><meta content="noodp" name="robots"><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image"><title>Google</title><script nonce="gsV2ToAUGYL2ujNfL2cCww==">(function(){window.google={kEI:'bMwfYuWtIsGWwbkPxKKdKA',kEXPI:'0,1302536,56873,6059,206,4804,2316,383,246,5,1354,4013,923,314,1122516,1197712,689,21,380069,16111,17447,11240,17572,4859,1361,9290,3029,4746,12834,4020,978,13228,3847,4200,6422,22741,5081,1593,1279,2742,149,1103,840,1983,4314,108,3406,606,2023,1777,520,14670,3227,2845,7,5599,11851,16320,1851,15324,432,3,1590,1,5444,149,11323,991,1661,4,1528,2304,6463,576,22023,3050,2658,7356,31,13628,2980,1457,15351,1435,651,5179,2527,4097,4049,3,3541,1,14711,2096,21582,3765,2,14022,1931,442,342,255,2993,1557,744,5852,10463,1160,5679,1020,2380,2719,8595,7953,1731,1,8,7735,4568,6256,6726,1,10722,5972,1252,5835,14968,1538,2794,2204,2083,390,1412,1395,445,2,2,1,6395,4394,1710,4813,9,4125,2292,2,886,1559,10,1,436,288,759,6797,311,113,625,5,1823,2558,5,508,945,568,230,1,2,3,8,116,58,2,1520,1334,3550,904,3395,880,1042,847,948,71,255,178,574,880,311,5143,14,65,286,88,1188,563,1,865,214,137,1,8,1017,85,4,772,762,3,1,773,36,1153,1538,2329,163,81,193,352,3,255,2,1218,390,125,1350,111,238,178,124,468,263,29,816,264,85,20,462,172,439,238,328,3,1,53,235,39,54,1360,4,1,340,395,738,552,18,800,5469964,859,8797152,882,444,3,1877,1,2562,1,748,141,795,563,1,4265,1,1,2,1331,4142,2609,155,17,13,72,139,4,2,20,2,169,13,19,46,5,39,96,548,29,2,2,1,2,1,2,2,7,4,1,2,2,2,2,2,2,353,513,186,1,1,158,3,2,2,2,2,2,4,2,3,3,269,1601,141,576,328,56,3,2,36,1,2,1,1,53,20731902,3220019,2862027,1179663,3,450,3455,9,1435,159,1358,4726,3,923,32,3,1209,6,910,1378,1120,415,2026,416,566,875226',kBL:'nojI'};google.sn='webhp';google.kHL='en';})();(function(){
var f=this||self;var h,k=[];function l(a){for(var b;a&&(!a.getAttribute||!(b=a.getAttribute("eid")));)a=a.parentNode;return b||h}function m(a){for(var b=null;a&&(!a.getAttribute||!(b=a.getAttribute("leid")));)a=a.parentNode;return b}
function n(a,b,c,d,g){var e="";c||-1!==b.search("&ei=")||(e="&ei="+l(d),-1===b.search("&lei=")&&(d=m(d))&&(e+="&lei="+d));d="";!c&&f._cshid&&-1===b.search("&cshid=")&&"slh"!==a&&(d="&cshid="+f._cshid);c=c||"/"+(g||"gen_204")+"?atyp=i&ct="+a+"&cad="+b+e+"&zx="+Date.now()+d;/^http:/i.test(c)&&"https:"===window.location.protocol&&(google.ml&&google.ml(Error("a"),!1,{src:c,glmm:1}),c="");return c};h=google.kEI;google.getEI=l;google.getLEI=m;google.ml=function(){return null};google.log=function(a,b,c,d,g){if(c=n(a,b,c,d,g)){a=new Image;var e=k.length;k[e]=a;a.onerror=a.onload=a.onabort=function(){delete k[e]};a.src=c}};google.logUrl=n;}).call(this);(function(){
google.y={};google.sy=[];google.x=function(a,b){if(a)var c=a.id;else{do c=Math.random();while(google.y[c])}google.y[c]=[a,b];return!1};google.sx=function(a){google.sy.push(a)};google.lm=[];google.plm=function(a){google.lm.push.apply(google.lm,a)};google.lq=[];google.load=function(a,b,c){google.lq.push([[a],b,c])};google.loadAll=function(a,b){google.lq.push([a,b])};google.bx=!1;google.lx=function(){};}).call(this);google.f={};(function(){
document.documentElement.addEventListener("submit",function(b){var a;if(a=b.target){var c=a.getAttribute("data-submitfalse");a="1"===c||"q"===c&&!a.elements.q.value?!0:!1}else a=!1;a&&(b.preventDefault(),b.stopPropagation())},!0);document.documentElement.addEventListener("click",function(b){var a;a:{for(a=b.target;a&&a!==document.documentElement;a=a.parentElement)if("A"===a.tagName){a="1"===a.getAttribute("data-nohref");break a}a=!1}a&&b.preventDefault()},!0);}).call(this);</script><style>#gbar,#guser{font-size:13px;padding-top:1px !important;}#gbar{height:22px}#guser{padding-bottom:7px !important;text-align:right}.gbh,.gbd{border-top:1px solid #c9d7f1;font-size:1px}.gbh{height:0;position:absolute;top:24px;width:100%}@media all{.gb1{height:22px;margin-right:.5em;vertical-align:top}#gbar{float:left}}a.gb1,a.gb4{text-decoration:underline !important}a.gb1,a.gb4{color:#00c !important}.gbi .gb4{color:#dd8e27 !important}.gbf .gb4{color:#900 !important}
</style><style>body,td,a,p,.h{font-family:arial,sans-serif}body{margin:0;overflow-y:scroll}#gog{padding:3px 8px 0}td{line-height:.8em}.gac_m td{line-height:17px}form{margin-bottom:20px}.h{color:#1558d6}em{font-weight:bold;font-style:normal}.lst{height:25px;width:496px}.gsfi,.lst{font:18px arial,sans-serif}.gsfs{font:17px arial,sans-serif}.ds{display:inline-box;display:inline-block;margin:3px 0 4px;margin-left:4px}input{font-family:inherit}body{background:#fff;color:#000}a{color:#4b11a8;text-decoration:none}a:hover,a:active{text-decoration:underline}.fl a{color:#1558d6}a:visited{color:#4b11a8}.sblc{padding-top:5px}.sblc a{display:block;margin:2px 0;margin-left:13px;font-size:11px}.lsbb{background:#f8f9fa;border:solid 1px;border-color:#dadce0 #70757a #70757a #dadce0;height:30px}.lsbb{display:block}#WqQANb a{display:inline-block;margin:0 12px}.lsb{background:url(/images/nav_logo229.png) 0 -261px repeat-x;border:none;color:#000;cursor:pointer;height:30px;margin:0;outline:0;font:15px arial,sans-serif;vertical-align:top}.lsb:active{background:#dadce0}.lst:focus{outline:none}</style><script nonce="gsV2ToAUGYL2ujNfL2cCww==">(function(){window.google.erd={jsr:1,bv:1539,de:true};
var f=this||self;var g,h,k=null!==(g=f.mei)&&void 0!==g?g:1,l=null!==(h=f.sdo)&&void 0!==h?h:!0,p=0,q,r=google.erd,u=r.jsr;google.ml=function(a,b,d,m,c){c=void 0===c?2:c;b&&(q=a&&a.message);if(google.dl)return google.dl(a,c,d),null;if(0>u){window.console&&console.error(a,d);if(-2===u)throw a;b=!1}else b=!a||!a.message||"Error loading script"===a.message||p>=k&&!m?!1:!0;if(!b)return null;p++;d=d||{};var e=c;c=encodeURIComponent;b="/gen_204?atyp=i&ei="+c(google.kEI);google.kEXPI&&(b+="&jexpid="+c(google.kEXPI));b+="&srcpg="+c(google.sn)+"&jsr="+c(r.jsr)+"&bver="+c(r.bv)+("&jsel="+e);e=a.lineNumber;void 0!==e&&(b+="&line="+
e);var n=a.fileName;n&&(b+="&script="+c(n),e&&n===window.location.href&&(e=document.documentElement.outerHTML.split("\n")[e],b+="&cad="+c(e?e.substring(0,300):"No script found.")));for(var t in d)b+="&",b+=c(t),b+="=",b+=c(d[t]);b=b+"&emsg="+c(a.name+": "+a.message);b=b+"&jsst="+c(a.stack||"N/A");12288<=b.length&&(b=b.substr(0,12288));a=b;m||google.log(0,"",a);return a};window.onerror=function(a,b,d,m,c){q!==a&&(a=c instanceof Error?c:Error(a),void 0===d||"lineNumber"in a||(a.lineNumber=d),void 0===b||"fileName"in a||(a.fileName=b),google.ml(a,!1,void 0,!1,"SyntaxError"===a.name||"SyntaxError"===a.message.substring(0,11)?2:0));q=null;l&&p>=k&&(window.onerror=null)};})();</script></head><body bgcolor="#fff"><script nonce="gsV2ToAUGYL2ujNfL2cCww==">(function(){var src='/images/nav_logo229.png';var iesg=false;document.body.onload = function(){window.n && window.n();if (document.images){new Image().src=src;}
if (!iesg){document.f&&document.f.q.focus();document.gbqf&&document.gbqf.q.focus();}
}
})();</script><div id="mngb"><div id=gbar><nobr><b class=gb1>Search</b> <a class=gb1 href="https://www.google.com/imghp?hl=en&tab=wi">Images</a> <a class=gb1 href="https://maps.google.com/maps?hl=en&tab=wl">Maps</a> <a class=gb1 href="https://play.google.com/?hl=en&tab=w8">Play</a> <a class=gb1 href="https://www.youtube.com/?gl=US&tab=w1">YouTube</a> <a class=gb1 href="https://news.google.com/?tab=wn">News</a> <a class=gb1 href="https://mail.google.com/mail/?tab=wm">Gmail</a> <a class=gb1 href="https://drive.google.com/?tab=wo">Drive</a> <a class=gb1 style="text-decoration:none" href="https://www.google.com/intl/en/about/products?tab=wh"><u>More</u> &raquo;</a></nobr></div><div id=guser width=100%><nobr><span id=gbn class=gbi></span><span id=gbf class=gbf></span><span id=gbe></span><a href="http://www.google.com/history/optout?hl=en" class=gb4>Web History</a> | <a  href="/preferences?hl=en" class=gb4>Settings</a> | <a target=_top id=gb_70 href="https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=https://www.google.com/&ec=GAZAAQ" class=gb4>Sign in</a></nobr></div><div class=gbh style=left:0></div><div class=gbh style=right:0></div></div><center><br clear="all" id="lgpd"><div id="lga"><img alt="Google" height="92" src="/images/branding/googlelogo/1x/googlelogo_white_background_color_272x92dp.png" style="padding:28px 0 14px" width="272" id="hplogo"><br><br></div><form action="/search" name="f"><table cellpadding="0" cellspacing="0"><tr valign="top"><td width="25%">&nbsp;</td><td align="center" nowrap=""><input name="ie" value="ISO-8859-1" type="hidden"><input value="en" name="hl" type="hidden"><input name="source" type="hidden" value="hp"><input name="biw" type="hidden"><input name="bih" type="hidden"><div class="ds" style="height:32px;margin:4px 0"><input class="lst" style="margin:0;padding:5px 8px 0 6px;vertical-align:top;color:#000" autocomplete="off" value="" title="Google Search" maxlength="2048" name="q" size="57"></div><br style="line-height:0"><span class="ds"><span class="lsbb"><input class="lsb" value="Google Search" name="btnG" type="submit"></span></span><span class="ds"><span class="lsbb"><input class="lsb" id="tsuid1" value="I'm Feeling Lucky" name="btnI" type="submit"><script nonce="gsV2ToAUGYL2ujNfL2cCww==">(function(){var id='tsuid1';document.getElementById(id).onclick = function(){if (this.form.q.value){this.checked = 1;if (this.form.iflsig)this.form.iflsig.disabled = false;}
else top.location='/doodles/';};})();</script><input value="AHkkrS4AAAAAYh_afLwRADOFEcgshg68epGH4K0J0JQE" name="iflsig" type="hidden"></span></span></td><td class="fl sblc" align="left" nowrap="" width="25%"><a href="/advanced_search?hl=en&amp;authuser=0">Advanced search</a></td></tr></table><input id="gbv" name="gbv" type="hidden" value="1"><script nonce="gsV2ToAUGYL2ujNfL2cCww==">(function(){
var a,b="1";if(document&&document.getElementById)if("undefined"!=typeof XMLHttpRequest)b="2";else if("undefined"!=typeof ActiveXObject){var c,d,e=["MSXML2.XMLHTTP.6.0","MSXML2.XMLHTTP.3.0","MSXML2.XMLHTTP","Microsoft.XMLHTTP"];for(c=0;d=e[c++];)try{new ActiveXObject(d),b="2"}catch(h){}}a=b;if("2"==a&&-1==location.search.indexOf("&gbv=2")){var f=google.gbvu,g=document.getElementById("gbv");g&&(g.value=a);f&&window.setTimeout(function(){location.href=f},0)};}).call(this);</script></form><div id="gac_scont"></div><div style="font-size:83%;min-height:3.5em"><br></div><span id="footer"><div style="font-size:10pt"><div style="margin:19px auto;text-align:center" id="WqQANb"><a href="/intl/en/ads/">Advertising Programs</a><a href="/services/">Business Solutions</a><a href="/intl/en/about.html">About Google</a></div></div><p style="font-size:8pt;color:#70757a">&copy; 2022 - <a href="/intl/en/policies/privacy/">Privacy</a> - <a href="/intl/en/policies/terms/">Terms</a></p></span></center><script nonce="gsV2ToAUGYL2ujNfL2cCww==">(function(){window.google.cdo={height:757,width:1440};(function(){
var a=window.innerWidth,b=window.innerHeight;if(!a||!b){var c=window.document,d="CSS1Compat"==c.compatMode?c.documentElement:c.body;a=d.clientWidth;b=d.clientHeight}a&&b&&(a!=google.cdo.width||b!=google.cdo.height)&&google.log("","","/client_204?&atyp=i&biw="+a+"&bih="+b+"&ei="+google.kEI);}).call(this);})();</script> <script nonce="gsV2ToAUGYL2ujNfL2cCww==">(function(){google.xjs={ck:'',cs:'',excm:[]};})();</script>  <script nonce="gsV2ToAUGYL2ujNfL2cCww==">(function(){var u='/xjs/_/js/k\x3dxjs.hp.en_US.r35PnKmU3a0.O/am\x3dAOAJAIAEIAE/d\x3d1/ed\x3d1/esmo\x3d1/rs\x3dACT90oH9UF8wHPB43QT8xGcvYuQwP9lpgQ/m\x3dsb_he,d';
var e=this||self,f=function(a){return a};var g;var l=function(a,b){this.g=b===h?a:""};l.prototype.toString=function(){return this.g+""};var h={};
function m(){var a=u;google.lx=function(){n(a);google.lx=function(){}};google.bx||google.lx()}
function n(a){google.timers&&google.timers.load&&google.tick&&google.tick("load","xjsls");var b=document;var c="SCRIPT";"application/xhtml+xml"===b.contentType&&(c=c.toLowerCase());c=b.createElement(c);if(void 0===g){b=null;var k=e.trustedTypes;if(k&&k.createPolicy){try{b=k.createPolicy("goog#html",{createHTML:f,createScript:f,createScriptURL:f})}catch(p){e.console&&e.console.error(p.message)}g=b}else g=b}a=(b=g)?b.createScriptURL(a):a;a=new l(a,h);c.src=a instanceof l&&a.constructor===l?a.g:"type_error:TrustedResourceUrl";var d;a=(c.ownerDocument&&c.ownerDocument.defaultView||window).document;(d=(b=null===(d=a.querySelector)||void 0===d?void 0:d.call(a,"script[nonce]"))?b.nonce||b.getAttribute("nonce")||"":"")&&c.setAttribute("nonce",d);document.body.appendChild(c);google.psa=!0};google.xjsu=u;setTimeout(function(){m()},0);})();function _DumpException(e){throw e;}
function _F_installCss(c){}
(function(){google.jl={attn:false,blt:'none',chnk:0,dw:false,dwu:true,emtn:0,end:0,ine:false,injs:'none',injt:0,lls:'default',pdt:0,rep:0,snet:true,strt:0,ubm:false,uwp:true};})();(function(){var pmc='{\x22d\x22:{},\x22sb_he\x22:{\x22agen\x22:false,\x22cgen\x22:false,\x22client\x22:\x22heirloom-hp\x22,\x22dh\x22:true,\x22dhqt\x22:true,\x22ds\x22:\x22\x22,\x22ffql\x22:\x22en\x22,\x22fl\x22:true,\x22host\x22:\x22google.com\x22,\x22isbh\x22:28,\x22jsonp\x22:true,\x22msgs\x22:{\x22cibl\x22:\x22Clear Search\x22,\x22dym\x22:\x22Did you mean:\x22,\x22lcky\x22:\x22I\\u0026#39;m Feeling Lucky\x22,\x22lml\x22:\x22Learn more\x22,\x22oskt\x22:\x22Input tools\x22,\x22psrc\x22:\x22This search was removed from your \\u003Ca href\x3d\\\x22/history\\\x22\\u003EWeb History\\u003C/a\\u003E\x22,\x22psrl\x22:\x22Remove\x22,\x22sbit\x22:\x22Search by image\x22,\x22srch\x22:\x22Google Search\x22},\x22ovr\x22:{},\x22pq\x22:\x22\x22,\x22refpd\x22:true,\x22rfs\x22:[],\x22sbas\x22:\x220 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08)\x22,\x22sbpl\x22:16,\x22sbpr\x22:16,\x22scd\x22:10,\x22stok\x22:\x22eF7rVY_rqeK85kl690tPg5S2AiY\x22,\x22uhde\x22:false}}';google.pmc=JSON.parse(pmc);})();</script>        </body></html>

## Pegando o resultado de uma chamada a uma api via http

In [ ]:
from http import HTTPStatus 

# Buscando valores de resultado de uma API


url_api_github = 'https://api.github.com'
resultado_consulta_api_github = requests.get(url_api_github)

if resultado_consulta_api_github.status_code == HTTPStatus.OK : 
    resultado_em_json = resultado_consulta_api_github.json()
    print(resultado_consulta_api_github.json())

# Informações adicionais
print('Informações adicionais')
print(f"headers: { resultado_consulta_api_github.headers['content-type'] }")
print(f'encoding: { resultado_consulta_api_github.encoding }')

{'current_user_url': 'https://api.github.com/user', 'current_user_authorizations_html_url': 'https://github.com/settings/connections/applications{/client_id}', 'authorizations_url': 'https://api.github.com/authorizations', 'code_search_url': 'https://api.github.com/search/code?q={query}{&page,per_page,sort,order}', 'commit_search_url': 'https://api.github.com/search/commits?q={query}{&page,per_page,sort,order}', 'emails_url': 'https://api.github.com/user/emails', 'emojis_url': 'https://api.github.com/emojis', 'events_url': 'https://api.github.com/events', 'feeds_url': 'https://api.github.com/feeds', 'followers_url': 'https://api.github.com/user/followers', 'following_url': 'https://api.github.com/user/following{/target}', 'gists_url': 'https://api.github.com/gists{/gist_id}', 'hub_url': 'https://api.github.com/hub', 'issue_search_url': 'https://api.github.com/search/issues?q={query}{&page,per_page,sort,order}', 'issues_url': 'https://api.github.com/issues', 'keys_url': 'https://api.github.com/user/keys', 'label_search_url': 'https://api.github.com/search/labels?q={query}&repository_id={repository_id}{&page,per_page}', 'notifications_url': 'https://api.github.com/notifications', 'organization_url': 'https://api.github.com/orgs/{org}', 'organization_repositories_url': 'https://api.github.com/orgs/{org}/repos{?type,page,per_page,sort}', 'organization_teams_url': 'https://api.github.com/orgs/{org}/teams', 'public_gists_url': 'https://api.github.com/gists/public', 'rate_limit_url': 'https://api.github.com/rate_limit', 'repository_url': 'https://api.github.com/repos/{owner}/{repo}', 'repository_search_url': 'https://api.github.com/search/repositories?q={query}{&page,per_page,sort,order}', 'current_user_repositories_url': 'https://api.github.com/user/repos{?type,page,per_page,sort}', 'starred_url': 'https://api.github.com/user/starred{/owner}{/repo}', 'starred_gists_url': 'https://api.github.com/gists/starred', 'topic_search_url': 'https://api.github.com/search/topics?q={query}{&page,per_page}', 'user_url': 'https://api.github.com/users/{user}', 'user_organizations_url': 'https://api.github.com/user/orgs', 'user_repositories_url': 'https://api.github.com/users/{user}/repos{?type,page,per_page,sort}', 'user_search_url': 'https://api.github.com/search/users?q={query}{&page,per_page,sort,order}'}
Informações adicionais
headers: application/json; charset=utf-8
encoding: utf-8

## Manipulando uma variável json como um dicionário

In [ ]:
# mostrando as chaves, valores do dictionário

dict_resultado_consulta_api_github = resultado_em_json

for key, value in dict_resultado_consulta_api_github.items():
  print(f' {key}: {value}')

 current_user_url: https://api.github.com/user
 current_user_authorizations_html_url: https://github.com/settings/connections/applications{/client_id}
 authorizations_url: https://api.github.com/authorizations
 code_search_url: https://api.github.com/search/code?q={query}{&page,per_page,sort,order}
 commit_search_url: https://api.github.com/search/commits?q={query}{&page,per_page,sort,order}
 emails_url: https://api.github.com/user/emails
 emojis_url: https://api.github.com/emojis
 events_url: https://api.github.com/events
 feeds_url: https://api.github.com/feeds
 followers_url: https://api.github.com/user/followers
 following_url: https://api.github.com/user/following{/target}
 gists_url: https://api.github.com/gists{/gist_id}
 hub_url: https://api.github.com/hub
 issue_search_url: https://api.github.com/search/issues?q={query}{&page,per_page,sort,order}
 issues_url: https://api.github.com/issues
 keys_url: https://api.github.com/user/keys
 label_search_url: https://api.github.com/search/labels?q={query}&repository_id={repository_id}{&page,per_page}
 notifications_url: https://api.github.com/notifications
 organization_url: https://api.github.com/orgs/{org}
 organization_repositories_url: https://api.github.com/orgs/{org}/repos{?type,page,per_page,sort}
 organization_teams_url: https://api.github.com/orgs/{org}/teams
 public_gists_url: https://api.github.com/gists/public
 rate_limit_url: https://api.github.com/rate_limit
 repository_url: https://api.github.com/repos/{owner}/{repo}
 repository_search_url: https://api.github.com/search/repositories?q={query}{&page,per_page,sort,order}
 current_user_repositories_url: https://api.github.com/user/repos{?type,page,per_page,sort}
 starred_url: https://api.github.com/user/starred{/owner}{/repo}
 starred_gists_url: https://api.github.com/gists/starred
 topic_search_url: https://api.github.com/search/topics?q={query}{&page,per_page}
 user_url: https://api.github.com/users/{user}
 user_organizations_url: https://api.github.com/user/orgs
 user_repositories_url: https://api.github.com/users/{user}/repos{?type,page,per_page,sort}
 user_search_url: https://api.github.com/search/users?q={query}{&page,per_page,sort,order}

# 17) File System

https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files

## Manipulando arquivos

### Operações básicas

https://docs.python.org/3/library/functions.html#open

1. É preciso criar um arquivo via função open(..)
   
2. Definir a forma como o arquivo será usado 
   1. w abre para escrita, se o arquivo já existe o conteúdo será apagado e sobrescrito
   2. r apenas para leitura
   3. a abre para escrita e insere no final do arquivo
   
3. Chamar a operação que será realizada
   1. write(conteudo) escreve o conteudo
   2. read() para ler todo o conteudo corrente do arquivo
   3. readline() para ler uma linha do arquivo

4. Fechar o arquivo após a conclusão da operação
   1. close()

Mais detalhes em https://docs.python.org/3/tutorial/inputoutput.html e https://docs.python.org/3/glossary.html#term-file-object

## Cria arquivo foo.txt e insere conteúdo

In [ ]:
import os

# Open a file
fo = open("foo.txt", "w+")
conteudo = 'Conteudo teste'
print(f'Escreve conteudo: {conteudo}')
fo.write(conteudo)

print(f"Name of the file: {fo.name}")
print(f"Closed or not : {fo.closed}")
print(f"Opening mode : {fo.mode}")

path_file = os.getcwd() + '/' + fo.name

print(f'Size of the file {fo.name}: {os.path.getsize(path_file)} bytes')

Escreve conteudo: Conteudo teste
Name of the file: foo.txt
Closed or not : False
Opening mode : w+
Size of the file foo.txt: 0 bytes

## Lista o conteúdo do diretório corrente

In [ ]:
# Lista o conteúdo do diretório atual: 

diretorio_atual = os.getcwd()
print(f'diretorio_atual : {diretorio_atual}' )

os.listdir(diretorio_atual)

diretorio_atual : /content

['.config', 'foo.txt', 'sample_data']

## Ler o conteúdo do arquivo foo.txt

In [ ]:
fo = open("foo.txt", "r")
str = fo.read()
print(f"Conteudo do arquivo foo.txt: {str}")
fo.close()

Conteudo do arquivo foo.txt: Conteudo teste

## Insere um novo conteúdo no final do arquivo foo.txt

In [ ]:
# Append (insere conteudo no final do arquivo)
fo = open("foo.txt", "a")
fo.write("novo teste")
fo.close()

In [ ]:
fo = open("foo.txt", "r")
str = fo.read()
print(f"Conteudo do arquivo foo.txt {str}")
fo.close()

Conteudo do arquivo foo.txt Conteudo testenovo teste

In [ ]:
# Append (insere conteudo no final do arquivo)
fo = open("foo.txt", "a")
fo.write("\n")
fo.write("nova linha \n")
fo.write("\nnova linha")
fo.write("\nnova linha")
fo.close()

## Uso do bloco with ... as f:
                    ...

Garante que o arquivo f será fechado ao concluir a operação leitura ou escrita

In [ ]:
with open('foo.txt') as f: 
  for line in f: 
    print(line, end='')

Conteudo testenovo teste
nova linha

nova linha
nova linha

## Pegando o tamanho do arquivo

In [ ]:
print(f'Size of the file {fo.name}: {os.path.getsize(path_file)} bytes')

Size of the file foo.txt: 59 bytes

## Lendo um arquivo .csv

In [ ]:
arquivo_estados_do_brasil = open('Lista_Estados_Brasil.csv', mode='r', encoding='utf-8')
cont = 1
for line in arquivo_estados_do_brasil:
    print(f'{cont}, {line}')
    cont = cont + 1

FileNotFoundError: ignored

# 18) Excecoes

https://docs.python.org/3/tutorial/errors.html

In [ ]:
# Tratando exceções

try:
   fh = open("testfile", "w")
   fh.write("This is my test file for exception handling!!")
except IOError:
   print("Error: can\'t find file or read data")
else:
   print("Written content in the file successfully")
   fh.close()

In [ ]:
try: 
  f = open("testfile", "r")
  conteudo = f.read()
  print(f'Conteudo de {f.name}: {conteudo}')
  f.close()
except IOError:
  print(f"Erro: não pode ler o arquivo")
else:
  print(f'O arquivo {f.name} foi lido com sucessof!')

In [ ]:
# Levantando uma exceção

def functionName( level ):
  if level < 1:
    raise Exception(f"Invalid level! {level}")
    # The code below to this would not be executed
    # if we raise the exception
  return level

In [ ]:
try: 
  my_level = functionName(0)
  print(f'Meu nivel válido é: {my_level}')
except Exception as e:
  print(e)

In [ ]:
try: 
  my_level = functionName(1)
  print(f'Meu nivel válido é: {my_level}')
except Exception as e:
  print(e)

# 19) Modulo OS (Operating System interface)

https://docs.python.org/3/library/os.html

In [ ]:
import os

print(f'Sistema Operacional: { os.name }')
print(f'Diretorio corrente: { os.getcwd() }')
print(f'Lista os arquivos do diretório corrente: {os.listdir()}')

# 20) Expressões Regulares

https://docs.python.org/3/library/re.html

Buscando padrao de telefone e e-mail

In [ ]:
import re

valor_telefone = "8899-8765"

frase1_telefone = "Meu número é 1234-1234"
frase2_telefone = "Meu número é 9469-3558 ou 3214-2538"
frase3_telefone = "Meu número é 99469-3558"
frase4_telefone = "Meu número de celular é: 994693558"
frase5_telefone = "Meu número de celular é : (86)99469-3558"

## Definindo os padrões para checar a formatação de telefone

In [ ]:
# Os seguintes padroes podem ser utilizados para buscar o padrao de telefone XXXX-XXXX, onde X é um dígito 
padrao1_telefone = "[0123456789][0123456789][0123456789][0123456789][-][0123456789][0123456789][0123456789][0123456789]"
padrao2_telefone = "[0-9][0-9][0-9][0-9][-][0-9][0-9][0-9][0-9]"

# {n} : significa que o caractere é repetido 4 vezes
padrao3_telefone = "[0-9]{4}[-][0-9]{4}"

# O seguinte padrão pode ser utilizados para buscar o padrao de telefone XXXX-XXXX ou XXXXX-XXXX, onde X é um dígito
# {n, m} : significa que o caractere pode ser repetido 4 vezes ou 5 vezes
padrao4_telefone = "[0-9]{4,5}[-][0-9]{4}"

# O seguinte padrão pode ser utilizados para buscar o padrao de telefone XXXX-XXXX, XXXXXXXX, XXXXX-XXXX ou XXXXXXXXX
# onde X é um dígito
# * : significa que o caractere pode aparecer ou não aparecer
padrao5_telefone = "[0-9]{4,5}[-]*[0-9]{4}"

# Padrao de telefone com DDD 
# DDXXXXYYYY ou DDXXXXXYYYY
padrao_telefone_ddd = "[0-9]{2}[0-9]{4,5}[0-9]{4}"

# Padrao de telefone com DDD 
# (DD)XXXX-YYYY ou (DD)XXXXX-YYYY
padrao_telefone_ddd2 = "[(][0-9]{2}[)][0-9]{4,5}[-][0-9]{4}"

## Uso da função match(..)
### Checa se o padrão passado bate com o valor da string

In [ ]:
valor_telefone1 = "8899-8765"

teste_match = re.match(padrao1_telefone, valor_telefone)

print(f'Compara o padrao {padrao1_telefone} com a string valor_telefone {valor_telefone1}') 
print(f'Testa a função match: {teste_match}') 
if teste_match is not None: 
    print(f'{ teste_match.group() }')
    print( type(teste_match.group()) )
else: 
    print(f'O padrão: {padrao1_telefone} não bateu com a string {valor_telefone1}')

In [ ]:
frase1_telefone = "Meu número é 1234-1234"

retorno2 = re.match(padrao2_telefone, frase1_telefone)
print(f'Testa o padrao {padrao2_telefone} com a string {frase1_telefone}') 
print(f'Testa a função match: {retorno2}')

In [ ]:
valor_telefone2 = "(86)8899-8765"

teste_match2 = re.match(padrao_telefone_ddd2, valor_telefone2)

print(f'Compara o padrao {padrao_telefone_ddd2} com a string valor_telefone {valor_telefone2}') 
print(f'Testa a função match: {teste_match2}') 
if teste_match2 is not None: 
    print(f'{ teste_match2.group() }')
    print( type(teste_match2.group()) )
else: 
    print(f'O padrão: {padrao_telefone_ddd2} não bateu com a string {valor_telefone2}')

## Uso da função search(..)
### Faz a busca pela primeira ocorrência do padrão passado na string a ser testada

In [ ]:
frase1_telefone = "Meu número é 1234-1234"

testa_search = re.search(padrao2_telefone, frase1_telefone)

print(f'Busca o padrao {padrao2_telefone} na string {frase1_telefone}')
print(f'testa_search: {testa_search}')
if testa_search is not None: 
    print(f'teste: {testa_search.group()}')
else: 
    print(f'O padrão: {padrao2_telefone} não foi encontrada na string {frase1_telefone}')

In [ ]:
frase1_telefone = "Meu número é 1234-1234"

testa_search = re.search(padrao5_telefone, frase1_telefone)

print(f'Busca o padrao {padrao5_telefone} na string {frase1_telefone}')
print(f'testa_search: {testa_search}')
if testa_search is not None: 
    print(f'teste: {testa_search.group() }')
else: 
    print(f'O padrão: {padrao5_telefone} não foi encontrada na string {frase1_telefone}')

## Uso da função findall(..)
### Faz a busca pela primeira ocorrência do padrão passado na string a ser testada

In [ ]:
frase1_telefone = "Meu número é 1234-1234 ou 994693558 ou 99469-3558"

testa_findall = re.findall(padrao5_telefone, frase1_telefone)

print(f'Busca o padrao {padrao5_telefone} na string {frase1_telefone}')
print(f'testa_findall: {testa_findall}')
if testa_findall is not None: 
    print(f'lista de correspondentes: {testa_findall }')
else: 
    print(f'O padrão: {padrao5_telefone} não foi encontrada na string {frase1_telefone}')

In [ ]:
frase1_telefone = "Meu número é 1234-1234 ou 994693558 ou 99469-3558 ou (81)99469-3558"

testa_findall = re.findall(padrao_telefone_ddd2, frase1_telefone)

print(f'Busca o padrao {padrao_telefone_ddd2} na string {frase1_telefone}')
print(f'testa_findall: {testa_findall}')
if testa_findall is not None: 
    print(f'lista de correspondentes: {testa_findall }')
else: 
    print(f'O padrão: {padrao_telefone_ddd2} não foi encontrada na string {frase1_telefone}')

## Padrão de e-mail

In [ ]:
# [a-zA_Z] : caracteres minúsculos ou maiúsculos 
# [a-zA-Z0-9_.] : caracteres minúsculos ou maiúsculos ou dígitos ou _ ou .

padrao_email = "[a-zA-Z0-9_.]{1,30}@[a-zA-Z0-9_.]{1,30}"

In [ ]:
meu_email = 'armando@ufpi.edu.br'

teste_match = re.match(padrao_email, 'armando@ufpi.edu.br')

print(f'Testa o padrão: {padrao_email} com o conteúdo: {meu_email}')
if teste_match is not None:
    print( teste_match.group() )

In [ ]:
lista_de_emails = ['armando.sousa@gmail.com', 'armando_sousa@uol.com.br', 'teste@teste.pt', 'teste@']

for each in lista_de_emails:
    teste_match = re.match(padrao_email, each)
    print(teste_match)
    if teste_match is not None:
        print(f'teste: {teste_match.group()} - O e-mail {each} é válido')
    else:
        print(f'O e-mail: {each} é inválido!')